<!--
    James Jennings
    200300365
    18 Aug 2016
-->

@model IEnumerable<COMP2007_FinalExam1.Models.Genre>

@{
    ViewBag.Title = "Genres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
    </tr>
}

</table>
